<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>minikube-spring-boot-docker</title>
    <link rel="stylesheet" href="{{springMacroRequestContext.request.contextPath}}/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body class="container">
<h3 class="panel panel-heading">hi</h3>
<div class="panel panel-body">id {{value}}</div>
</body>
</html>
